.classCard {
    padding-bottom: 25px;

    &__wrapper {
        padding-bottom: 40px;
        margin: 50px;
        margin-bottom: 25px;
        padding-left: 3rem;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 5px lightgray;
        
    }

    &__title {
        padding-top: 10px;
        margin-bottom: 10px;
        border-bottom: 2px black solid;
    }

    &__objectives {
        padding-top: 20px;
    }

    &__video {
        padding-top: 20px;
    }

    &__lessons {
        padding-top: 20px;
    }
}

ol, ul {
    padding-left: 50px;
}

a:hover {
    color: red
}